@import url("./destyle.css");
@import url("./style.css");
$mushi-green: #bed636;
$mushi-brown: #6b3404;

.insect-img-container {
  width: 90vw;
  height: 40vh;
  margin: 0 auto;
  border: 1px solid $mushi-brown;
  background-color: #efefef;
  img {
    width: 100%;
    height: 100%;
  }
  .insect-img {
    object-fit: cover;
  }
  .no-insect-img {
    object-fit: contain;
  }
  margin-bottom: 1rem;
}
.contents-tabs {
  display: flex;
  width: 90vw;
  // height: 10vh;
  margin: 0 auto;
  li {
    background-color: #f5c421;
    width: 100%;
    border: solid 2px $mushi-brown;
    height: 40px;
    line-height: 40px;
    border-radius: 15px 15px 0 0;
    -webkit-text-stroke: 1px;
    color: #fff;
  }
  .active-tab {
    background-color: #fff;
    color: $mushi-brown;
    border-bottom: 0;
  }
  #not-release-2,
  #not-release-3 {
    background-color: #dddddd;
  }
  text-align: center;
}
section {
  border: solid 2px $mushi-brown;
  border-top: 0;
  border-radius: 0 0 15px 15px;
  width: 90vw;
  height: 26vh;
  overflow-y: auto;
  background-color: #fff;
  margin: 0 auto;
  padding: 1rem;
  .data-1 {
    display: flex;
    margin-bottom: 1rem;
    dt {
      width: 30%;
    }
    div {
      width: 70%;
    }
  }
}
.inactive-content {
  display: none;
}
#content-2 {
  p {
    line-height: 1.5em;
  }
}
