@import url("./destyle.css");
@import url("./style.css");
@media screen and (max-width: 480px) {
  main {
    section:nth-child(3n + 2) {
      h2 {
        background-color: #d82c4a;
      }
      color: #d82c4a;
    }
    section:nth-child(3n) {
      h2 {
        background-color: #1c4b9c;
      }
      color: #1c4b9c;
    }
    section:nth-child(3n + 1) {
      h2 {
        background-color: #07bb2b;
      }
      color: #07bb2b;
    }
    section {
      margin: 0 auto;
      margin-top: 10px;
      margin-bottom: 32px;
      border-radius: 5px;
      background-color: #fff;
      border: solid 1px #6b3404;
      width: 90vw;
      h2 {
        color: #fff;
        text-align: center;
        margin: 0 auto;
        margin-top: -10px;
        margin-bottom: 24px;
        border-radius: 15px;
        width: 140px;
        height: 1.6rem;
        line-height: 1.6rem;
        font-size: 1.2rem;
      }
      div {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        ul {
          margin-bottom: 24px;
          width: 32%;
          text-align: center;
        }
      }
      div:after {
        content: "";
        display: block;
        width: 32%;
        height: 0;
      }
      .insect-img-container {
        margin-bottom: 16px;
        a {
          height: 100%;
          img {
            background-color: #efefef;
            border-radius: 50%;
            border: 1px solid #ccc;
            object-fit: cover;
          }
        }
      }
    }
  }
}
