@import url("./destyle.css");
@import url("./style.css");
$mushi-green: #bed636;
$mushi-brown: #755e3c;
// @media screen and (max-width: 480px) {
// }

main {
  .sort-tab {
    display: flex;
    width: 90vw;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 5%;
    li {
      border: solid 2px $mushi-brown;
      border-radius: 15px 15px 0 0;
      background-color: #f5c421;
      text-align: center;
      width: 34vw;
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
      color: #fff;
      -webkit-text-stroke-width: 0.5px;
    }
    .active {
      border-bottom: 0;
      background-color: #fff;
      color: $mushi-brown;
    }
  }
  // .content-top-bg {
  //   height: 10px;
  //   width: 90vw;
  //   border-left: solid 2px $mushi-brown;
  //   border-right: solid 2px $mushi-brown;
  //   margin: 0 auto;
  //   background-color: #fff;
  // }

  #category-container {
    background-color: #fff;
    width: 90vw;
    margin: 0 auto;
    border-radius: 0 0 15px 15px;
    border: solid 2px $mushi-brown;
    border-top: 0;
    height: 85%;
    overflow: auto;
    section {
      padding-top: 30px;
      h2 {
        background-color: $mushi-brown;
        color: #fff;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 24px;
        border-radius: 15px;
        width: 140px;
        height: 1.6rem;
        line-height: 1.6rem;
        font-size: 1.2rem;
      }
      div {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        ul {
          margin-bottom: 24px;
          width: 32%;
          text-align: center;
        }
      }
      div:after {
        content: "";
        display: block;
        width: 32%;
        height: 0;
      }
      .insect-img-container {
        margin-bottom: 16px;
        a {
          height: 100%;
          img {
            background-color: #efefef;
            border-radius: 50%;
            border: 1px solid #ccc;
            object-fit: cover;
          }
        }
      }
    }
  }
}
