@import url("./destyle.css");
@import url("./style.css");
$mushi-green: #bed636;
$mushi-brown: #6b3404;
$mushi-orange: #f5c421;

/* 初期化 */
header{
  position: static;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: #fcf3b7;
}
main {
  height: auto;
  margin: 0;
  padding: 0;
}
footer{
  background-color: #fcf3b7;
}

/* ヘッダー */
header{
  background-image: url(../img/icon/login_background_header.png);
  background-size: 100vw;
  background-repeat: no-repeat;
  margin-bottom: 1rem;
  h1{
    img{
      width: 80vw;
      margin-top: 10vw;
    }
  }
}

/* メイン */
main{
  h2{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  .login-area{
    display: flex;
    justify-content: center;
  }
  p{
    margin-bottom: 0.2rem;
  }
  input{
    background: #fff;
    border: solid 1px $mushi-brown;
    border-radius: 4px;
    padding: 2px 3px;
    margin-bottom: 1rem;
  }
  input,button{
    width: 75vw;
  }  
  button{
    display: block;
    background: $mushi-orange;
    border: solid 1px $mushi-brown;
    border-radius: 8px;
    text-align: center;
    padding: 0.5rem;
    margin-top: 1rem;
  }
}

/* フッター */
footer{
  background-image: url(../img/icon/login_background_footer.png);
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: bottom;
}