$mushi-green: #bed636;
$mushi-brown: #6b3404;
header,
main,
article,
footer {
  width: 100%;
}
* {
  font-family: "Yomogi", cursive;
  font-weight: bold;
  color: $mushi-brown;
  // -webkit-text-stroke-width: 1px;
}
body {
  background-color: #fcf3b7;
}
// @media screen and (max-width: 480px) {
// }
header {
  height: 10vh;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100vw;
  background-color: $mushi-green;
  font-size: 2rem;
  line-height: 10vh;
  color: $mushi-brown;
  -webkit-text-stroke-width: 2px;
  text-align: center;
}
main {
  margin-top: 12vh;
  margin-bottom: 12vh;
}
footer {
  height: 12vh;
  max-height: 80px;
  background-color: $mushi-green;
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100vh;
}
// 以下グローバルフッター
footer {
  max-width: 100%;
  ul {
    display: flex;
    height: 100%;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    li {
      width: 20%;
      text-align: center;
      a {
        width: 100%;
        height: 100%;
        display: block;
        p {
          // height: 30px;
          color: #fff;
          font-size: 0.8rem;
        }
        p:last-child {
          margin-top: 0.5rem;
        }
        .svg-container {
          // margin-top: 1rem;
          margin-top: 1.5vh;
          position: relative;
          width: 100%;
          padding-top: 45%; // ここでアイコンサイズをレスポンシブで調整
          .svg-content {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
          }
        }
      }
    }
  }
}
.none {
  display: none;
}
